@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome a la pagina de registro</h1>
   <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="name" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="Last-Name">Apellido:</label>

            <input type="Last-Name" class="form-control" id="Last-Name">
        </div>

         <div class="form-group">
            <label for="direction">Direccion:</label>

            <input type="direction" class="form-control" id="direction">
        </div>
        
         <div class="form-group">
            <label for="phone">Telefono:</label>

            <input type="phone" class="form-control" id="phone">
        </div>
         <div class="form-group">
            <label for="salary">Salario:</label>

            <input type="salary" class="form-control" id="salary">
        </div>
         <div class="form-group">
            <label for="workArea">Area de trabajo:</label>

            <input type="workArea" class="form-control" id="workArea">
        </div>
         <div class="form-group">
            <label for="date">Fecha Ingreo:</label>

            <input type="date" class="form-control" id="date">
        </div>
          <div class="form-group">
            <label for="sexo">sexo:</label>

            <input type="sexo" class="form-control" id="sexo">
        </div>
          <div class="form-group">
            <label for="codigoComp">Codigo de la compañia:</label>

            <input type="codigoComp" class="form-control" id="codigoComp">
        </div>
           <div class="form-group">
            <label for="boss">Jefe:</label>

            <input type="boss" class="form-control" id="boss">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
        <div class="col-md-12 text-center">
           <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
   </form>

</div>
